<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Storytime</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
     <li><a href="/create/story">Add Story</a></li>
     <li><a href="#">Contributions</a></li>
      <li><a href="/users/logout">Logout</a></li>



    </ul>
  </div>
</nav>

<div class="parallax-window" data-parallax="scroll" data-image-src="../images/4U6A0902.jpg">
  <span id="parallaxText">Welcome to Storytime,</span>
  <span id="userText">{{user.username}}</span>
</div>

</div>
<div id="mainTitle">
  <h1>Story List</h1>
</div>
<hr>

<div class="container">

  <div class="row" id="storyContent">
    <div class="col s12 stories">
      {{#if stories}}
      <div id="storyTable">
        <ul id="storyUl">
          {{#each stories}}
          <form action="/stories/{{this.id}}" method="get">
            <li class="indexTable" id={{this.id}}>
              <p class="createdTitle">{{this.title}}</p>
              <p class="created"> Created by: {{User.dataValues.username}}</p>
              <button class="showStoryButton"  type="submit">View details</button>
            </li>
          </form>
          {{/each}}
          {{else}}
          <div>
            <h3 id="noStory">There Are No Stories Here Yet! Would You Like To Create One?</h2>
              <div id="outer">
                <a href="/create/story" id="storyButton" class="btn">Start a story</a>
              </div>
          </div>
          {{/if}}
      </div>





    </div>



  </div>


  <script src="/js/index.js"></script>
  <script>
    $("#indexTable")
  </script>